.App {
  text-align: center;
}

.main-header {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.habbit-name {
  width: 55%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
