.App {
  text-align: center;
}

.main-header {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3vh;
  text-align: center;
}
.main-header input {
  color: black;
  font-size: 2vh;
}

.main-header a {
  color: white;
}

.habbit-name {
  width: 100%;
  text-align: left;
}

thead th, td{
  text-align: center;
}

.glyphicon-ok {
  color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

